@media (min-width: 768px) {
    .img-proj {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh; 
    }
  }
  

.img-proj1 {
    margin: 2vh;
}

.logincard {
    width: 400px;
    padding: 40px;
}

.bglogin {
    height: 65vh;
    background-image: url('../image/login-bg-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerbg {
    height:  19vh;
    background-image: url('../image/Header-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.logoimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.dashbg {
    padding: 2vh;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
}

.left-text {
    margin-right: auto;
    text-align: left;
}

.center-image {
    margin-right: auto;
}

.logoimg1 {
    
    display: flex;
    align-items: center;
}

.logcol {
  width: 100%;
    display: flex;
    justify-content: center;
}

.counter_card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.counter_card .count_card_style {
    flex: 1 1 100px; 
    min-width: 150px; 
    max-width: 300px; 
  }
  
  @media (max-width: 768px) {
    .counter_card {
      flex-direction: column; 
    }
  }

  .text-bold{
    font-weight: bold;
  }

  .cardlist{
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
  }

  .btnc{
    border: 2px solid #0056b3;
  }

  .btnc:hover,
.btnc:focus {
  border: 2px solid #0056b3;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #999;
}

input[type="text"] {
  padding-left: 30px; 
}


.sort-by-container {
  flex: 1; 
}

.sort-by-container select {
  width: 100%; 
  max-width: 200px; 
  margin-left: auto; 
}

@media (max-width: 768px) {
  .sort-by-container {
    margin-left: 0; 
  }
}


/*  */

.project-list_mobile {
  display: none;
}

@media (max-width: 768px) {
  .project-list_mobile {
    display: block;
  }

  @media (max-width: 768px) {
    .desktop_table{
      display: none;
    }
  }
  
  .project-row {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-name {
    flex: 1;
    text-align: left;
  }

  .project-status {
    flex: 1;
    text-align: right;
  }

  .project-row div {
    margin-bottom: 5px;
  }

  hr {
    margin: 10px 0;
  }

  .custom-btn {
    margin-right: 5px;
  }
}


.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
}

.pagination span {
  margin: 0 5px;
}




.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}


/* Carousel.css */
 
.full-width-carousel {
  width: 100%;
  margin: 0 auto;
}



.full-width-slide {
  width: 100vw;
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-slide{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slide-image {
  width: 100%;
  height: auto;
}

.slide {
  padding: 0 5px; /* Adjust this value to set the gap between slides */
}

